= line_chart compliance_score_all, id: "complianceScoreChart", height: "430px", colors: ["#0399EE"], library: { plugins: { legend: { display: true, position: 'top', labels: { usePointStyle: true, pointStyle: 'circle', color: "#000", font: { weight: 'bold', size: 14 } } } } }

%p#no-data-msg.text-center.mt-5.text-muted.fs-5{ style: "display: none;" } No average compliance scores available.
