= column_chart @bar_chart_data, id: "barChart", height: "300px", colors: ["#42CA68", "#F4D73A", "#CE2D2D"], library: { title: { text: "Audit Status Overview", display: true }, plugins: { legend: { display: true, position: 'top', labels: { usePointStyle: true, pointStyle: 'circle', color: "#000", font: { weight: 'bold', size: 14 } } } } }
