= pie_chart @pie_chart_data, id: "pieChart", height: "430px", colors: ["#42CA68", "#F4D73A", "#CE2D2D"], library: { title: { text: "Audit Status Overview", display: true },  plugins: { datalabels: { color: "#000", font: { weight: 'bold' } }, legend: { display: true, position: 'top', labels: { usePointStyle: true, pointStyle: 'circle', color: "#000", font: { weight: 'bold', size: 14 } } } } }
