<h1>Welcome to the GTIMC, <%= @user.first_name %>!</h1>

<p>Your account has been created with the following email credential:</p>

<p>Email: <%= @user.email %></p>

<p>Your will shortly recieve another email asking you to reset your password.</p>


<p>Best regards,<br/>The GTIMC Team</p>
