.container.custom-tab-container.p-0.border.border-dark{style: "display: inline-table;"}
  %ul.nav.nav-tabs.mb-0
    %li.nav-item.w-100
      %a.nav-link.disabled.text-center.fw-bold{href: '#', tabindex: '-1', aria: { disabled: 'true' }} Audits

  %ul.nav.nav-tabs.nav-fill.mb-0
    %li.nav-item
      %a.nav-link.active{href: '#scheduled', data: { bs_toggle: 'tab' }, role: 'tab', tooltip: "Audits Due To start Today"} Scheduled
    %li.nav-item
      %a.nav-link{href: '#in-progress', data: { bs_toggle: 'tab' }, role: 'tab'} In Progress
    %li.nav-item
      %a.nav-link{href: '#completed', data: { bs_toggle: 'tab' }, role: 'tab'} Completed

  .tab-content.flex-grow-1
    .tab-pane.fade.show.active#scheduled{role: 'tabpanel'}
      = render partial: 'scheduled_table' 

    .tab-pane.fade#in-progress{role: 'tabpanel'}
      = render partial: 'in_progress_table'

    .tab-pane.fade#completed{role: 'tabpanel'}
      = render partial: 'completed_table'