.container.custom-tab-container.p-0.border.border-dark{style: "display: inline-table;"}
  %ul.nav.nav-tabs.mb-0
    %li.nav-item.w-100
      %a.nav-link.disabled.text-center.fw-bold{href: '#', tabindex: '-1', aria: { disabled: 'true' }} Recurring Compliance Issues

  %ul.nav.nav-tabs.nav-fill.mb-0
    %li.nav-item
      %a.nav-link.active{href: '#list-view', data: { bs_toggle: 'tab' }, role: 'tab', tooltip: "Recurring issues in table format"} List View
    %li.nav-item
      %a.nav-link{href: '#bar-chart-view', data: { bs_toggle: 'tab' }, role: 'tab'} Bar Chart View
    %li.nav-item
      %a.nav-link{href: '#pie-chart-view', data: { bs_toggle: 'tab' }, role: 'tab'} Pie Chart View

  .tab-content.flex-grow-1
    .tab-pane.fade.show.active#list-view{role: 'tabpanel'}
      = render partial: 'list_view' 

    .tab-pane.fade#bar-chart-view{role: 'tabpanel'}
      = render partial: 'bar_chart_view'

    .tab-pane.fade#pie-chart-view{role: 'tabpanel'}
      = render partial: 'pie_chart_view'