.accordion-button::after {
  display: none; // Hide Bootstrap’s default arrow
}

.custom-arrow {
  transition: transform 0.3s ease;
  font-size: 1.2rem;
  color: #328166;
}

.accordion-button:not(.collapsed) .custom-arrow {
  transform: rotate(180deg); // Rotate ▼ to point up (▲)
}

.support-auditor-field, .sme-field, .standard-field {
  display: flex;
}

#add-support-auditor, #add-sme, #add-standard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .plus {
    font-size: larger;
    font-weight: bolder;
    margin: 0;
    margin-right: 0.5em;
  }

  .text {
    font-size: medium;
  }
}