// needs to change  -- SEEMS NOT TO BOTHER ANYTHING (TBC)
html, body {
    height: 100%;        
    margin: 0;         
}

// needs to change -- SEEMS NOT TO BOTHER ANYTHING (TBC)
body {
    display: flex;
    flex-direction: column;  
    justify-content: space-between; 
}

// needs to change -- SEEMS NOT TO BOTHER ANYTHING (TBC)
body, ul {
    margin: 0;
    padding: 0;
    list-style: none; // this does not affect body tag at all
    font-family: Arial, sans-serif;
}

// needs to change -- SEEMS NOT TO BOTHER ANYTHING (TBC)
.main-content {
    flex: 1; 
}

// needs to change -- RESOLVED (TBC)
.login-container .form-group, .profile-container .form-group {
    margin-bottom: 15px;
    text-align: left;
}

// needs to change -- RESOLVED (TBC)
.login-container input, .login-container select, .leroy-form input, .leroy-form select,  .profile-container input, .profile-container select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e4e0e0;
    color: black;
    
    &::-ms-expand {
        display: none;
    }
}

// needs to change -- RESOLVED (TBC)
// i removed .view-btn and link-btn from the list as i couldnt find it's use
.form-actions>button, .login-container .form-group>button, .special-button>button, #profile_button button, .special-update-btn>.update-btn{
    background-color: #328166;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    justify-content: center;
    margin-top: 15px;
    
    &:hover {
        background-color: #235a47;
    }
}

.special-a {
    display: flex;
    align-items: center;
}

.navbar-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navbar-icons i.bi-bell {
    font-size: 1.5rem;
    color: black;
}

.navbar-icons .user-name-link {
    font-size: 0.9rem;
    color: black;
}

.green-btn {
    border-color:  #328166;
    background-color: #328166;
}
  
.green-btn:hover {
    background-color: #235a47;
}

.mySidenav a, .special-a a {
    color: inherit;
    text-decoration: none;
}


body > .navbar {
    background-color: #ffffff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.1rem 0.4rem  rgba(0, 0, 0, 0.3);
}

body > .navbar > .container {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

body > .navbar > .container > .navbar-brand {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}


.logo {
    width: 5rem;
    height: auto;
}

.logo2 {
    width: 10rem;
    height: auto;
}

.menu-icon {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.login-container, .profile-container {
    background: white;
    padding: 30px 70px 30px 50px;
    border-radius: 20px;
    width: 300px;
    border: 1.2px solid rgb(74, 73, 73);
    text-align: center;
    margin: 50px auto;
    box-shadow: 10px #333;
}

.profile-container p {
    margin: 2px 0; 
    font-size: 1.0em;
}
  
.profile-container p b {
    display: inline-block;
    margin-bottom: 0.001em; 
}
  

.footer {
    background: #328166;
    color: white;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 10px 0;
}

.bottom_button, link-btn {
    width: 100%;
    padding: 10px;
    justify-content: center;
    margin-top: 15px;
}

.forgot-password {
    color: grey;
    text-decoration: none;
    font-size: 16px;
    
    &:hover {
        color: darkgrey;
    }
}


//  MFA PAGE 
.mfa-inputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    
    input {
        width: 20px;
        height: 30px;
        font-size: 1.5em;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #e4e0e0;
        color: black;
        margin: 5px 0;
        justify-content: center;
        
        &:focus {
            border-color: #328166;
            outline: none;
        }
    }
}

//  Notifications page 
.notification-container {
    padding-left: 8.5rem;
    padding-right: auto;
}


// Dropdown menu stuff

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0; 
    background-color:  white; 
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: -7px 0px 10px rgba(0, 0, 0, 0.2); 

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #328166;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #040000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.dropdown-container {
    display: none;
    background-color: #328166;
    padding-left: 30px;
}

.dropdown-container a {
    color: #ffffff;  
    font-size: 20px;  
    padding: 8px 0;
    transition: 0.3s;
}

.dropdown-container a:hover {
    color: #000000; 
}

.show {
    display: block;
}
    
.user-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.user-name span {
    margin: 0;
}
  
.user-role {
    font-size: 0.8em;
    color: gray;
    margin-top: 5px; 
}

.user-name-link {
    color: inherit; 
    text-decoration: none; 
}
  
.user-name-link:hover {
    text-decoration: none;
    cursor: pointer; 
}

.link_bn{
    background-color: #328166;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 10px;
    transition: background 0.3s;
    text-decoration: none;

    
    &:hover {
        background-color: #235a47;
    }

    a {
        color: white;
        text-decoration: none;
    }
}

//The stuff for uploading supporting documents

.upload-supporting-documents > main {
    width: 100%;
    display: flexbox;
}

.upload-supporting-documents > h1 {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    margin-left: 7rem;
    color: #444444;;


}

.rectangle-3 {
    width: 80%;
    min-height: 50rem;  
    background: #FFFFFF;
    border: 0.12rem solid rgb(178, 177, 177);
    border-radius: 2rem;
    margin: 0 auto;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.rectangle-3 > h2 {
    margin-left: 2rem;
    color: #444444;
    margin-bottom: 1rem;
}

.general-information-table {
    text-align: center;
    margin: 0 auto;
    max-width: fit-content;
    margin-left: 2rem;
    margin-right: 2rem;

}

.general-information-table > th, td, thead, tbody, table {
    width: 80rem;
    height: 3rem;
    border: 1px solid #C0C0C0;
}

.general-information-table > thead {
    background-color: lightgrey;
}

.documents-part {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.documents-part > h2 {
    margin-left: 2rem;
    color: #444444;
}

.input-documents {
    height: 3rem;
    background: transparent;
    border: 0.12rem solid rgb(178, 177, 177);
    border-radius: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    width: 92%;
    color: #444444;

}

.attachments-part {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;  
}

.attachments-part > p {
    margin-left: 2rem;
    font-size: 2rem;
    color: #328166;
}

.rectangle-attachments {
    border: 0.12rem solid rgb(178, 177, 177);
    border-radius: 2rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.rectangle-attachments > #document-title {
    width: 70%;
    height: 2rem;
    background-color: #F7F6F6;
    border: 1px solid rgb(178, 177, 177);
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    padding-left: 0.5rem;

}

.rectangle-attachments > #additional-notes {
    width: 90%;
    height: 5rem;
    background-color: #F7F6F6;
    border: 1px solid rgb(178, 177, 177);
    padding-left: 0.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;

}

.add-button {
    background-color: #328166;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    width: 8rem;
    padding: 10px;
    justify-content: center;
    margin-top: 15px;
    display: block; 
    margin-left: 0rem; 
    margin-right: auto;
    
    &:hover {
      background-color: #235a47;
    }
}

.view-button {
    background-color: #328166;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    width: 8rem;
    padding: 10px;
    margin-top: 15px;
    margin-left: auto;  
    display: block;  
    margin-right: 2rem;
    &:hover {
        background-color: #235a47;
    }
}

.remove-preview {
    color: #7A7A7A;  
    cursor: pointer;
    margin-left: 1rem;
    text-decoration: none;

}
  
.remove-preview:hover {
    text-decoration: none;
    font-weight: bold;
}

.file-preview {
    color: #7A7A7A;
}


//----------------------------------------------------------------

//Supporting documents page

main.supporting_documents > h1 {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    margin-left: 7rem;
    color: #444444;
}



.table_container  > table {
    border-collapse: collapse;
    padding-top: 2rem;
    margin-top: 2rem;
    max-width: fit-content;
    padding-left: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;

}

.table_container > .button_container {
    max-width: max-content;
    margin-left: auto;
    margin-right: 2rem;
    padding-top: 1rem;

}
  

.table_container  {
    max-width: fit-content;
    width: 80%;
    min-height: 50rem;  
    background: #FFFFFF;
    border: 0.12rem solid rgb(178, 177, 177);
    border-radius: 2rem;
    margin: 0 auto;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.table_container > h2  {
    margin-left: 2rem;
    color: #444444;;
}

.table_container > th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}
  
.table_container > table > tr {
    background-color: #C0C0C0;
}

.table_container > table > thead > tr {
    background-color: #C0C0C0; 
    color: #000000;
}

.table_container > table > thead > tr > th {
    text-align: center;
}

main.supporting_documents >.view-link, .download-link {
    background-color: #328166;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
}
  
main.supporting_documents > .view-link:hover, .download-link:hover {
    background-color: #235a47;
}
  

//-----------------------------------------------------------------------
//View document page

main.view-supporting-documents  {
    margin: auto;
    justify-content: center;
}

main.view-supporting-documents > h1 {
    padding-top: 1rem;
    padding-left: 2rem;
    color: #444444;

}

main.view-supporting-documents > .main-container {
    width: 80%;
    background: #FFFFFF;
    border: 0.12rem solid rgb(178, 177, 177);
    border-radius: 2rem;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: #444444;
}

main.view-supporting-documents > .main-container > h2 {
    padding-bottom: 0.6rem;
}

main.view-supporting-documents > .main-container > .back-link  {
    color: #328166;

    &:hover {
        color: #235a47;
        text-decoration: none;
    }


}

