%body
    .center-screen
        .container.questionnaire-form-container.extra-padding.centered.image-background
            %h1.home-title Welcome to the GTIMC portal
            
            %a{ href: new_user_session_path, class: 'bottom_button' }
                %button.large-btn.shadow Login