.container.custom-tab-container.p-0.border.border-dark{style: "display: inline-table;"}
  %ul.nav.nav-tabs.mb-0
    %li.nav-item.w-100
      %a.nav-link.disabled.text-center.fw-bold{href: '#', tabindex: '-1', aria: { disabled: 'true' }} Compliance Scores

  .table-scroll-container
    %table.table.table-striped.table-bordered-black.mb-0.text-center.align-middle.fs-6
      %thead
        %tr
          %th.p-3 Date
          %th.p-3 Score
      %tbody
        -if @audit_scores.present?
          - @audit_scores.each do |entry|
            %tr
              %td.p-3= entry[:date] || "N/A"
              %td.p-3= entry[:score] || "N/A"
