.container.custom-tab-container.p-0.border.border-dark{style: "display: inline-table;"}
  %ul.nav.nav-tabs.mb-0
    %li.nav-item.w-100
      %a.nav-link.disabled.text-center.fw-bold{href: '#', tabindex: '-1', aria: { disabled: 'true' }} DOCUMENT QUICK ACCESS

  .table-scroll-container
    %table.table.table-striped.table-bordered-black.mb-0.text-center.align-middle.fs-6
      %thead
        %tr
          %th.p-3 Document id
          %th.p-3 Document title
          %th.p-3 Document first few words
      %tbody
        - if @documents.present?
          - @documents.each do |document|
            %tr
              %td.p-3= document[:document_id]
              %td.p-3= document[:title]
              %td.p-3= truncate(document[:content], length: 60)

  -# %div.text-center.mt-3
    = link_to new_document_path do
      %i.fa.fa-plus-circle.fa-2x{ style: 'color: green' }
