.table-scroll-container
  %table.table.table-striped.table-bordered-black.mb-0.text-center.align-middle.fs-6
    %thead
      %tr
        %th.p-3 Audit Finding Id
        %th.p-3 Audit Type
        %th.p-3 Description
        %th.p-3 Category
    %tbody
      - if @audit_findings.present?
        - @audit_findings.each do |f|
          %tr
            %td.p-3= f[:id].to_s.rjust(4, '0')
            %td.p-3= f[:audit_type]
            %td.p-3{ title: f[:full_description] }= f[:truncated_description]
            %td.p-3= f[:category]
